PORT=8787



JWT_SECRET=ConsultScribe_2026_Nivash_9xK7mP2qL8vR4tY6











GOOGLE_CLIENT_ID=546936543852-jc444cs6k9gkf7i9c7nqkclgshrg667h.apps.googleusercontent.com



GROQ_API_KEY=
GROQ_MODEL=qwen/qwen3.8-27b


DATABASE_URL=


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
SMTP_SECURE=true
EMAIL_TO=












